<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <form method="post", action="/api/auth/password/reset/verified/" id="submitform">
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <label for="password2">Confirm New Password:</label>
        <input type="password" id="password2" name="password2"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
<script>
    const mySearchParams = new URLSearchParams(window.location.search)


    submitting = document.getElementById("submitform")
    submitting.addEventListener("submit", function(event) {
        event.preventDefault()
        password = document.getElementById("password").value
        password2 = document.getElementById("password2").value
        if (password != password2) {

            alert("passwords do not match")

            return null
        }
        if (password == "" || password2 == "") {
            alert("password can't be empty")
            return null
        }

        fetch(`http://127.0.0.1:8000/api/auth/password/reset/verified/`, {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            code: mySearchParams.get("code"),
            id: mySearchParams.get("id"),
            password: password
        })
    }).then(response => {
        if (response.status == 200) {
            alert("Password reset successful")
        } else {
            alert("Password reset failed")
        }
    })
    }).catch(error => {
        alert("An error occurred")
    })
</script>
</html>